<!DOCTYPE html>
<html>
    <head>
        <title>Engineering Notebook</title>
        <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/lib/default.min.css">
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            }
        </script>
        <!--<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>-->
        <script src="/static/js/lib/highlight.min.js"></script>
        <link rel="icon" href="/static/img/favicon.ico"/>
    </head>
    <body>
        <div class="jumbotron text-center cover">
            <img src="/static/img/robohawks.png" class="logo"/>
            <h1>Engineering Notebook</h1>
            <h2>RoboHawks | FTC #5741</h2>
            <p>Creating opportunities for real world engineering and hands-on learning in a safe environment for all students at CVU</p>
        </div>
        <hr>
        <div class="row contents">
            <div class="central-col col-md-12">
                <div>
                    <h1>Table of Contents</h1>
                    <ul>
                        {% for sprint in range(1,5) %}
                            <li><b><a href="#sprint{{sprint}}">Sprint {{sprint}}</a></b></li>
                            <ul>
                                <li><a href="#goals-sprint{{sprint}}">New Goals</a></li>
                                <li><a href="#entries-sprint{{sprint}}">Notebook Entries</a></li>
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        {% for sprint in range(1,5) %}
            {% if sprint != 1 %}
                <span class="sprint-header"></span>
            {% endif %}

            <div class="jumbotron text-center first">
                <h1 id="sprint{{sprint}}">Sprint {{sprint}}</h1>
            </div>
            <div class="row">
                <div class="central-col col-md-12">
                    <div class="card new-goals">
                        <h1 id="goals-sprint{{sprint}}">New Goals</h1>
                        {% for card in sprint_goals[sprint - 1] %}
                            <hr>
                            <h2>{{card.title}}</h2>
                            {% set colors = {'Mechanical': '#FFCDD2', 'Programming': '#FFF9C4', 'Electrical': '#FFE0B2', 'Public Relations': '#E1BEE7'} %}
                            <div class="users type">
                                {% for team in card.type %}
                                    <a style="background-color: {{colors[team]}}">{{team}}</a>
                                {% endfor %}
                            </div>
                            <div class="users">
                                {% for user in card.assign %}
                                    <a>{{user}}</a>
                                {% endfor %}
                            </div>
                            {% for block in card.goal %}
                                {{block_to_html(block)|safe}}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="notebook-entries"></span>
            <div class="jumbotron text-center">
                <h2 id="entries-sprint{{sprint}}">Notebook Entries</h2>
            </div>
            <div class="row">
                <div class="central-col col-md-12">
                    {% for date in dates %}
                        {% set entries = entry_map[date] %}

                        {% if entries[0].sprint == sprint %}
                            <div class="card">
                                <h1 id="entries-starting{{date}}">{{date.replace('_', '/')}}</h1>

                                {% for entry in entries %}
                                    <hr>
                                    <h2>{{entry.card.title}}</h2>
                                    <div class="columns">
                                        {% for column in entry.columns %}
                                            {{column}}
                                            {% if column != entry.columns[-1] %}{{'→'}}{% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="users">
                                        {% for user in entry.card.assign %}
                                            <a>{{user}}</a>
                                        {% endfor %}
                                    </div>
                                    {% for section in ['progress', 'takeaways', 'plans'] %}
                                        {% set blocks = entry[section] %}

                                        {% if blocks and blocks|length > 0 %}
                                            <h3>{{section.title()}}</h3>
                                            {% for block in blocks %}
                                                {{block_to_html(block)|safe}}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <hr/>
        {% endfor %}
        <script>
            document.querySelectorAll('pre code').forEach(block => hljs.highlightBlock(block))
        </script>
    </body>
</html>
